

body, html {

    height: 100%;
    background-color: #716C41;
    background-size: cover;

  }

  h1{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  .image{
    margin-top: 61px;
    margin-bottom: 60px;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  @media (max-width:1200px) and (min-width:991px) {
    .image {
      max-width: 450px;
    }
  }

  /* @media (min-width:991px) {
    .image {
      max-width: fit-content;
    }
  } */

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

  .image:hover  {
    opacity: 0.3;
  }

  .middle:hover  {
    opacity: 1;
  }


  .info {
    background-color: transparent;
    /* color: white; */
    /* font-size: 16px; */
    /* padding: 16px 32px; */
  }

  
