<html>

<body>

    <div class="container">

        <div class="row">

            <div class="col-lg-12 col-md-12">
                <h1>Home</h1>
                <h1 style="font-weight: 100;text-transform: capitalize;">
                    Welcome to my blog. Here I will post news and updates
                </h1>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-6 col-md-12 col-sm-12" style="margin-top: 61px;">
                <img src="../../../assets/images/olive-trees.jpg" class="image" alt="">
                <div class="middle">
                    <div class="info">
                        <button>
                            Read More
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12" style="margin-top: 61px;">
                <img src="../../../assets/images/olive-bransh.jpg" class="image" alt="">
            </div>

        </div>

    </div>

</body>

</html>